@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

body {
    color: #FCDAB7;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1D2D50;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

p {
    margin: 0;
    padding: 0;
}

img {
    filter: invert(90%) sepia(19%) saturate(4426%) hue-rotate(304deg) brightness(135%) contrast(110%);
}

/*|| top banner*/
.banner {
    height: 13vh;
    width: 100vw;
    margin: 2vh;
    text-align: center;
    background-color: #1E5F74;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.banner-text {
    font-weight: 700;
    font-size: 3vh;
}

.banner-symbols img {
    max-height: 100%;
}

.banner-symbols {
    width: 100vw;
    height: 30%;
    
}

/*|| game screen*/
.game-screen {
    background-color: #133B5C;
    height: 70vh;
    max-width: 800px;
    width: 85vw;
    border: 2px solid #1E5F74;
    border-radius: 13px;
    box-shadow: 0px 4px 5px 3px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    font-size: 1.5rem;
}

/* 
hand select - 20%
results area - 30%
rules statement - ?% (~ 7%)
score area- 25%
play again button - 13%

*/
/*|| hand-select*/
.hand-select {
    display: flex;
    justify-content: center;
    gap: 2%;
    align-items: center;
    height: 20%;
    width: 100%;
    margin: 5% 5%;
}

.hand-select>button {
    background-color: #133B5C;
    height: 11vh;
    width: 11vh;
    border: 3px solid #FCDAB7;
    border-radius: .5rem;
}
.hand-select img {
    filter: invert(31%) sepia(31%) saturate(937%) hue-rotate(148deg) brightness(95%) contrast(93%);
}

.hand-hover>img:hover {
    filter: invert(90%) sepia(19%) saturate(4426%) hue-rotate(304deg) brightness(135%) contrast(110%);
}

.rock-hand img {
    max-height: 80%;
    padding: 1vh 1vh;
}

.paper-hand img {
    max-height: 80%;
    padding: 1vh 1.75vh;
}

.scissors-hand img {
    max-height: 80%;
    padding: 1vh 1.75vh;
}

/*|| results area*/
.results-area {
    height: 30%;
    width: 90%;
    border: 2px solid #1E5F74;
    border-radius: 13px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.choose-text {
    width: 50%;
    overflow-wrap: break-word;
}

/*|| rules statement*/
.rules-statement-3of5 {
    width: 100%;
    padding: 1% 0;
    text-align: center;
}

/*|| score area*/
.score-area {
    width: 100%;
    height: 25%;
    background-color: #133B5C;
    display: flex;
    justify-content: center;
    gap: 5%;
    align-items: center;
}

.score-area>div {
    height: 15vh;
    width: 15vh;
    background-color: #1D2D50;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-wins p:first-of-type,
.cpu-wins p:first-of-type {
    font-size: 1.5vh;
    text-align: center;
}

.player-wins p:nth-of-type(2),
.cpu-wins p:nth-of-type(2) {
    font-size: 10vh;
    margin: auto;
}

/*|| play again button*/
.play-again {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 13%;
}

.play-again-button {
    height: 80%;
    width: 70%;
    max-width: 300px;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    background-color: #1E5F74;
    border-style: none;
    border-radius: .5rem;
    color: #133B5C;
    border: .5vw solid #1E5F74;
    padding: 0 2px;
    margin: 0;
}

/*|| footer*/

footer {
    color: #1E5F74;
    margin-top: auto;
    text-align: center;
    font-size: .75rem;
    text-transform: uppercase;
}

a {
    color: #3492b1;
    text-decoration: none;
}

a:hover {
    color: aliceblue;
}